@media screen and (min-width: 767px) {
  .container {
    max-width: 734px;
  }

  /* ==== HEADER ==== */

  .header-btn {
    display: none;
  }

  .header-menu {
    display: flex;
    gap: 96px;
  }

  .header-logo {
    font-size: 20px;
  }

  .header-nav {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .header-menu-list {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .header-soc-list {
    display: flex;
  }

  .header-menu-link {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    padding: 15px 24px;
    display: block;
    background-color: rgba(27, 65, 75, 0.5);
    transition: background-color 250ms ease-in-out;
    border-radius: 8px;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    background-color: #1b414b;
  }

  .header-soc-list {
    display: flex;
    gap: 8px;
    align-items: center;
    fill: #1b414b;
  }

  /* ==== HERO ==== */
  .hero {
    background-image: url(../img/bg/bg-tab-1x.png);
    padding-top: 280px;
    padding-bottom: 231px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/bg/bg-tab-2x.png);
    }
  }

  .hero-title {
    font-size: 70px;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .hero-desc {
    font-size: 16px;
    line-height: 1.4;
    max-width: 597px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .hero-btn {
    font-size: 18px;
    line-height: 1.1;
  }

  /* ==== FLEET ==== */

  .fleet {
    margin-bottom: 150px;
  }
  .fleet-content {
    padding: 50px 32px;
    padding-bottom: 0;
  }
  .fleet-title {
    font-size: 48px;
    max-width: 536px;
    margin-bottom: 50px;
  }

  .fleet-desc {
    font-size: 23px;
    margin-bottom: 20px;
    max-width: 364px;
  }

  .fleet-sub-desc {
    font-size: 13px;
    line-height: 1.15;
    max-width: 385px;
    margin-bottom: 50px;
  }

  /* ==== CARD ==== */

  .cards {
    margin-bottom: 150px;
  }

  .cards-title {
    font-size: 48px;
    max-width: 645px;
    margin: 0 auto;
    margin-bottom: 75px;
  }

  .cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 508px;
    margin-bottom: 50px;
  }

  .cards-item {
    flex-basis: calc((100% - 31px) / 2);
  }

  .card-top {
    padding-bottom: 18px;
  }

  .yacht-card-name {
    font-size: 16px;
    line-height: 1.2;
  }

  .yach-card-category {
    font-size: 13px;
    line-height: 1.18;
  }

  .cards-btn {
    font-size: 18px;
    padding: 16px 40px;
  }

  /* ==== PLUS ==== */

  .plus {
    margin-bottom: 150px;
  }

  .plus-list {
    flex-direction: row;

    row-gap: 44px;
    column-gap: 32px;
    flex-wrap: wrap;
    padding: 90px 32px;
    margin-bottom: 32px;
  }

  .plus-item {
    flex-basis: calc((100% - 32px) / 2);
  }

  .plus-item-num {
    font-size: 32px;
  }

  .plus-item-desc {
    font-size: 13px;
    line-height: 1.15;
  }

  /* ==== RENT ==== */

  .rent {
    margin-bottom: 150px;
  }

  .rent-container {
    max-width: 473px;
    margin: 0 auto;
  }

  .rent-title {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .rent-form {
    margin-bottom: 100px;
  }

  .rent-input {
    padding: 18px;
  }

  .rent-input,
  .rent-input::placeholder {
    font-size: 14px;
    line-height: 1.28571;
  }

  .rent-form-area {
    margin-bottom: 50px;
  }

  .form-btn {
    font-size: 18px;
    line-height: 1.1;
    padding: 18px 75px;
  }

  /* ==== REVIEW ==== */

  .review {
    margin-bottom: 150px;
  }

  .review-title {
    font-size: 48px;
  }

  .review-desc {
    font-size: 14px;
    line-height: 1.28571;

    max-width: 571px;
    margin: 0 auto;
    margin-bottom: 75px;
  }

  .review-list {
    display: flex;
    gap: 32px;
  }

  .tab-tem {
    display: flex;
  }

  /* ==== FOOTER ==== */

  .footer .container {
    max-width: 736px;
    padding: 50px 48px 20px 50px;
  }

  .footer-top {
    margin-bottom: 96px;
  }

  .footer-menu {
    display: flex;
    gap: 91px;
  }

  .footer-menu-list {
    margin-bottom: 0;
  }

  .footer-menu-link {
    padding: 15px 24px;
  }

  .footer-sub {
    font-size: 32px;
    line-height: 1;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 99px;
  }

  .footer-bottom {
    font-size: 14px;
    line-height: 1.18;
    gap: 32px;
  }
}

@media screen and (min-width: 1279px) {
  .container {
    max-width: 1210px;
  }

  /* ==== HEADER ==== */

  .header-nav {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-menu {
    gap: 281px;
  }

  .header-soc-icon {
    width: 24px;
    height: 24px;
  }

  /* ==== HERO ==== */
  .hero {
    padding-top: 235px;
    padding-bottom: 180px;
  }

  .hero {
    background-image: url(../img/bg/bg-desk-1x.png);
    padding-top: 280px;
    padding-bottom: 231px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/bg/bg-desk-2x.png);
    }
  }

  .hero-title {
    font-size: 80px;
    max-width: 1001px;
  }

  .hero-desc {
    max-width: 597px;
  }

  .hero-btn {
    padding-left: 40px;
    padding-right: 40px;
  }

  /* ==== FLEET ==== */

  .fleet-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .fleet-title {
    margin-bottom: 0;
  }

  .fleet-sub-text {
    max-width: 353px;
  }

  .fleet-desc {
    max-width: 335px;
  }

  .fleet-sub-desc {
    margin-bottom: 0;
  }

  .fleet-img {
    transform: scale(1.001);
  }

  /* ==== CARD ==== */

  .cards-item {
    flex-basis: calc((100% - 31px * 2) / 3);
  }

  /* ==== PLUS ==== */

  .plus .container {
    display: flex;
    gap: 32px;
  }

  .plus-list {
    margin-bottom: 0;
    max-width: 716px;
    padding-left: 50px;
    padding-right: 50px;
    column-gap: 44px;
    row-gap: 59px;
  }

  .plus-item {
    flex-basis: calc((100% - 44px) / 2);
  }

  .plus-img {
    height: 100%;
  }

  /* ==== RENT ==== */

  .rent .container {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }

  .rent-img {
    max-width: 658px;
    height: 100%;
  }

  .rent-form {
    margin-bottom: 0;
  }

  .rent-container {
    min-width: 472px;
  }

  /* ==== REVIEW ==== */

  .review-title {
    max-width: 854px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .desk-item {
    display: flex;
  }

  .review-list {
    gap: 26px;
  }

  .review-item {
    flex-basis: calc((100% - 26px * 2) / 3);
    padding-left: 28px;
    padding-right: 28px;
  }

  /* ==== FOOTER ==== */
  .footer .container {
    max-width: 1230px;
  }

  .footer-menu {
    gap: 311px;
  }

  .footer-sub {
    max-width: 620px;
  }
}

@media screen and (min-width: 1439px) {
  .container {
    max-width: 1370px;
  }

  /* ==== HEADER ==== */

  .header-nav {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 32px;
  }

  .header-menu {
    gap: 362px;
  }

  /* ==== HERO ==== */

  .hero {
    padding-top: 235px;
    padding-bottom: 196px;
  }

  .hero-btn {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  /* ==== FLEET ==== */

  .fleet-sub-text {
    max-width: 404px;
  }

  .fleet-desc {
    max-width: 390px;
  }

  /* ==== CARDS ==== */

  .cards-list {
    max-width: 1240px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  /* ==== PLUS ==== */

  .plus-list {
    column-gap: 32px;
    max-width: 768px;
  }

  /* ==== rent ==== */

  .rent-img {
    max-width: 768px;
  }

  /* ==== REVIEW ==== */

  .review-list {
    gap: 32px;
  }

  .review-item {
    flex-basis: calc((100% - 32px * 2) / 3);
    padding-left: 36px;
    padding-right: 36px;
  }

  .review-message {
    max-width: 320px;
    margin: 0 auto;
  }
}
